@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

div#titulo{
  text-align: center;
  font-size: 100pt;
  top:50%;
  left:50%;
  font-family: 'Nova Mono', monospace;
}

section#cabecalho{
  height: 100px;
}

section#redesSociais{
  height: auto;
}

section#rodape{
  height: 50px;
}
