@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

div#titulo{
  text-align: center;
  font-size: 100pt;
  top:50%;
  left:50%;
  font-family: 'Nova Mono', monospace;
  color: white;
}

section#cabecalho{
  height: 100px;
  background-color: #754668;
}

section#corpo{
  height: auto;
  background-color: #8E6783;
}

section#rodape{
  height: 50px;
  background-color: #4B2D43;
}
